extends layout

block content
    h1.text-center Equipos

    div.form-group
        label Equipo
        input.form-control(type='text',name='equipo')
    div.form-group
        label Jugador
        input.form-control(type='text',name='jugador')
    div.form-group
        button.form-control.btn.btn-default(value='Asociar')